default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: bloodbathtest
  username: loschcode
  host: localhost
  port: 33470

test:
  <<: *default
  database: bloodbath-api_test

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
  pool: 5
